body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;

}

.topdiv {
    box-sizing: border-box;
    background-color: hsl(193, 100%, 96%);
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    height: 450px;
    padding: 40px;
}

.top2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tryforfree {
    align-items: right;
    background-color: rgb(248, 245, 245);
    width: 120px;
    border-radius: 10px;
    cursor: pointer;

}

.ad {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.left {

    width: 500px;
}

h1 {
    margin-top: 35px;
    font-weight: 600;
}

h2 {
    font-family: poppins;
}

p {
    font-size: 15px;
}

.getstarted {
    width: 200px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;

}

.right img {
    width: 420px;
    height: 300px;
}

.middle {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.middiv {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-left: 100px;
    box-shadow: 0px 0px 15px 3px hsla(192, 100%, 9%, 0.1);
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 320px;
    align-self: center;

}

.growtogether {
    margin-top: 30px;
    align-items: center;
    width: 40%;
}

.midright img {
    height: 250px;
    padding-right: 15px;
}

.midleft img {
    height: 250px;
}

.flowingconvo {
    padding-left: 85px;
}

.yourusers {
    width: 40%;
}

.midlast {
    margin-top: 60px;
    border-radius: 15px;
    background-color: rgb(247, 246, 248);
    align-self: center;
    padding: 15px;
    height: 7em;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 15px 3px hsla(192, 100%, 9%, 0.1);
    bottom: -100px;
}

.lastbtn {
    width: 60%;
    background-color: hsl(322, 100%, 66%);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin-left: 70px;

}

#lastlogo {
    color: white;
    background-color: aliceblue;
    fill: beige;
}

footer {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    color: white;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
}

#location {
    display: flex;
    width: 80%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

#location p {
    font-size: 12px;
}

.icons {
    display: flex;
}

#phone {
    display: flex;
    align-items: center;
    padding: 10px;
}

#email {
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 30%;
}

.leftfooter {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 60px;
}

.midfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    justify-content: space-around;
    font-size: 18px;
}

.midfooter a {
    color: white;
    text-decoration: none;
}

.rightfooter {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;


}

.lastlogo {
    padding-top: 15px;
}

.rightfooter .icons div {
    border: 1px solid hsl(193, 100%, 96%);
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
}

#copyright {

    padding-top: 150px;
}